* {
  margin: 0;
  font-family: "Open Sans", sans-serif;
}
.color-primary {
  color: #fd6e0a;
}

/* navbar */
.nav-title {
  font-weight: 800;
  font-size: 45px;
}
nav {
  display: flex;
  justify-content: space-between;
  padding: 50px 200px;
}
nav ul {
  display: flex;
  align-items: center;
}
nav li {
  list-style: none;
  margin-left: 50px;
}
.btn-primary {
  color: #ffffff;
  height: 60px;
  font-weight: 700;
  font-size: 20px;
  padding: 18px 35px;
  border: 0;
  border-radius: 5px;
  background-color: #fd6e0a;
}
/* header banner */
.banner {
  display: flex;
  align-items: center;
  margin: 0 50px 0 200px;
}
.banner-sub-title {
  font-weight: 600;
  font-size: 45px;
  margin-bottom: 5px;
}
.banner-title {
  font-weight: 700;
  font-size: 85px;
  margin-bottom: 20px;
}
.banner-description {
  font-size: 18px;
  margin-bottom: 35px;
}
.header {
  background: #fff8f3;
  background-image: url("../images/header_bg.png"),
    url("../images/developer.png");
  background-repeat: no-repeat;
  background-position: bottom right, left;
}

/* About me section */
main {
  max-width: 1140px;
  margin: 0 auto;
}
section {
  margin-top: 130px;
}
.about {
  background: #fff8f3;
  border-radius: 10px;
  text-align: center;
  padding: 130px 156px;
}
.section-title {
  text-align: center;
  font-weight: 700;
  font-size: 35px;
  margin-bottom: 50px;
}
.section-description {
  font-size: 18px;
  color: #757575;
  margin-bottom: 30px;
}
.about-info-container {
  display: flex;
  justify-content: space-around;
}
.info-title {
  font-size: 20px;
  text-align: center;
  color: #757575;
}
.info-description {
  font-weight: 700;
  font-size: 20px;
  color: #474747;
}
.skill-container {
  display: flex;
  gap: 24px;
}
.skill {
  padding: 30px;
  box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.06);
  border-radius: 5px;
}
.skill-title {
  font-weight: 700;
  font-size: 20px;
  margin-top: 30px;
  margin-bottom: 30px;
}
.skill-description {
  color: #757575;
}
.footer {
  background: #fff8f3;
  margin-top: 110px;
  padding: 130px 230px;
  display: flex;
  gap: 110px;
}
.footer .section-title {
  text-align: left;
  margin-bottom: 20px;
}
.contact input[type="text"],
input[type="email"],
textarea {
  margin-bottom: 24px;
  width: 100%;
  border: 0;
  padding: 18px 30px;
}
.resume-content {
  display: flex;
  gap: 70px;
}
.resume-title {
  font-weight: 700;
  font-size: 30px;
  color: #474747;
  /* margin-bottom: 30px; */
}
.resume-item {
  border-bottom: 1px solid #d1d1d1;
  margin-top: 30px;
  margin-bottom: 30px;
}
.title {
  font-weight: 700;
  font-size: 25px;
  color: #474747;
  margin-bottom: 10px;
}
.subtitle {
  font-weight: 600;
  font-size: 20px;
  color: #757575;
  margin-bottom: 20px;
}
.description {
  color: #757575;
  margin-bottom: 10px;
}
.download-btn {
  text-align: center;
}
